.math {
  color: #181301c3;
  text-align: center;
  padding-top: 20px;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
}

.calculator-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding-top: 130px;
}

.calculator {
  width: 500px;
  height: 380px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 30px;
  background-color: #b8b6b6;
}

.home-h {
  padding-top: 50px;
  font-weight: bold;
}

.home-p {
  color: rgb(74, 49, 32);
  font-size: 24px;
  padding: 10px;
  font-weight: normal;
}

.display {
  height: 50px;
  line-height: 50px;
  text-align: right;
  font-size: 24px;
  background-color: #464545;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 0 10px;
}

.col {
  padding: 0;
}

.button-gray {
  background-color: rgb(182, 179, 179);
  color: white;
  border-radius: 5px;
  border: 1px solid #000;
  font-size: 2em;
  cursor: pointer;
}

.button-orange {
  background-color: rgb(250, 187, 69);
  color: white;
  border-radius: 5px;
  border: 1px solid #000;
  font-size: 2em;
  cursor: pointer;
}

.result-input {
  /* background-color: #666363; */
  color: #fff;
  padding: 10px;
  border-radius: 9999em;
  margin: 0;
  font-size: 24px;
  background: linear-gradient(21deg, #525354, #a2bdb7);
}

.quote-container {
  text-align: center;
  margin: auto;
  width: 80%;
  margin-top: 80px;
}

.quote {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.author {
  font-size: 18px;
}
