body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #6d7c81;
}

.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar-links li {
  margin-right: 10px;
}

.navbar-links li:last-child {
  margin-right: 0;
}

.navbar-links li a {
  text-decoration: none;
  color: #fff;
}

.navbar-links li a:hover {
  background-color: #555;
  padding: 5px;
  border-radius: 5px;
}
